@import url("https://fonts.googleapis.com/css2?family=Iosevka+Charon&family=Special+Elite&display=swap");

/* variables */
:root {
  --primary-font: losevka-charon;
  --secondary-font: special-elite;
  --primary-color: rgb(196, 192, 192);
  --secdondary-color: rgba(43, 48, 53, 1);
  --accent-color: rgb(250, 163, 2);
}

/* main content */
.main-content {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 20 px;
  font-family: var(--primary-font), sans-serif;
  color: var(--secdondary-color);
}

/* navbar */

nav {
  font-family: var(--secondary-font), sans-serif;
}
nav i {
  color: var(--accent-color);
}

/* Hero section */
#hero-section {
  height: 500px;
  width: 100%;
  background: url("../images/perch-hero-image.png") no-repeat center
    center/cover;
}
#hero-section h1 {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
#join-us-button-div {
  display: flex;
  justify-content: center;
}

/* footer*/
footer {
  background-color: var(--secdondary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
}
#social-networks {
  text-align: center;
  padding: 2px 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

#social-networks a {
  font-size: 160%;
  padding: 5%;
  color: var(--accent-color);
}
