@import url("https://fonts.googleapis.com/css2?family=Iosevka+Charon&family=Special+Elite&display=swap");

:root {
  --primary-font: losevka-charon;
  --secondary-font: special-elite;
  --primary-color: lightgrey;
  --secdondary-color: darkgrey;
  --accent-color: orange;
}
nav {
  font-family: var(--secondary-font), sans-serif;
}
nav i {
  color: var(--accent-color);
}

.main-content {
  background-color: var(--primary-color);
  min-height: 100vh;
  padding: 20 px;
  font-family: var(--primary-font), sans-serif;
}
footer {
  background-color: var(--secdondary-color);
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* Hero section */
#hero-section {
  height: 500px;
  width: 100%;
  background: url("../images/perch-hero-image.png") no-repeat center
    center/cover;
}
#hero-section h1 {
  color: var(--accent-color);
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
